
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300&family=Ubuntu&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubunt', sans-serif;
}
nav ul{
    display: flex; 
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    

}
nav ul li {
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 57vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    margin: 20px auto;
    background-image: url('bg.jpg');    
    
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
}
#myProgressBar{
    width: 80vw;
    
}
.songItem{
    height: 30px;
    display: flex;
    background-color: white;
    width: 60%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}
.songItem img{
    width: 40px;
    margin: 0 20px;
    border-radius: 34px;
}.timestamp{
    margin: 0 23px;
}.timestamp i {
    cursor: pointer;
}
.songItemContainer{
    margin-top: 40px;
}
.songInfo{
    position: absolute;
    left: 10vw;
}.songInfo img{
    opacity: 0;
    transition: opacity 0.6s ease-in;
}